<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
	
	<property name="DEV_HOME" value="/sicnas/allnewpis/wisenut/ichat/log" />
	<property name="FILE_NAME" value="chatbot" />
	
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- <pattern>%boldWhite(%d{HH:mm:ss.SSS}) %highlight(%5level) %cyan([%40.40c]) %yellow(%msg%n)</pattern> -->
            <pattern>%d{HH:mm:ss.SSS} %5level [%40.40c] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${DEV_HOME}/${FILE_NAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${DEV_HOME}/booking.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>































        	<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level {%thread{10}} [%logger{20}] %m%n </pattern>
        </encoder>
    </appender>

    <logger name="egovframework.*" level="debug" />
	
	<logger name="org.springframework" level="debug" />
	<logger name="org.springframework.web.bind.annotation.support.HandlerMethodInvoker" level="debug" />
	<logger name="org.springframework.web.servlet.DispatcherServlet" level="debug" />
	
	<logger name="jdbc.sqlolny" 	level="debug"></logger>
    <logger name="jdbc.sqltiming" 	level="debug"></logger>
    <logger name="jdbc.audit" 		level="ERROR"></logger>
    <logger name="jdbc.resultset" 	level="ERROR"></logger>
	
    <root level="debug">
        <appender-ref ref="CONSOLE"/> <!-- Console에 로그를 출력하고자 할 때 사용 -->
        <appender-ref ref="FILE"/> <!-- File로 로그를 남기고자 할 때 사용 -->
    </root>

</configuration>