<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="convert">

	<select id="selectQueryConvert" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT 
		  conv_seq, conv_letter, conv_input, conv_result, conv_yn, conv_type
		FROM WISE_KEYWORDMAP
		where replace(conv_input, ' ', '') = replace(#{query}, ' ', '')
		and CONV_YN = 'Y'
		and PROJECTID=#{projectId}
	</select>
	
	<select id="selectResultMapping" parameterType="egovframework.iChat.ichat.model.IchatVO" resultType="egovframework.iChat.ichat.model.IchatVO">
		SELECT BUILD_CONTENTS as "content"
        FROM (
			SELECT  
				BUILD_CONTENTS
			from  WISE_RESULTMAP
			WHERE BUILD_NM  = #{intentNm}
			AND BUILD_YN='Y'
			<if test="type != null and type != ''">
			AND BUILD_TYPE = #{type}
			</if>
			AND PROJECTID = #{projectId}
			) A
		WHERE ROWNUM = 1	
	</select>
	
	<select id="selectResultMapByScenario" parameterType="egovframework.iChat.ichat.model.IchatVO" resultType="egovframework.iChat.ichat.model.ResultBuilderVO">
		SELECT 
			 build_seq as "key"
			,build_nm as "intent_name"
			,parent_seq as "parent"
			,lvl
			,ord
			,ref
			,image_id
			,node_nm as "name"
			,main_user_query
			,link_type
			,disp_type
		FROM WISE_RESULTMAP
		WHERE 1=1
		AND projectId = #{projectId}
		AND parent_seq = (SELECT build_seq FROM WISE_RESULTMAP WHERE build_nm = #{intentNm} AND projectId = #{projectId})
		ORDER BY lvl, parent_seq, ord
	</select>
	
	<!-- Upload Image 조회 -->
    <select id="selectUploadImage" parameterType="egovframework.iChat.ichat.model.UploadImageVO" resultType="egovframework.iChat.ichat.model.UploadImageVO">
		SELECT 
			  IMAGE_SEQ, 
			  IMAGE_ID, 
			  IMAGE_NAME, 
			  IMAGE_FILENAME, 
			  IMAGE_FILESERVERNAME,
			  IMAGE_DEFAULT_YN,
			  IMAGE_ATTRIBUTE
		FROM WISE_UPLOADIMAGE 
		WHERE 1=1
		<choose> 
			<when test="imageSeq!=null and !imageSeq.equals('')"> 
			AND IMAGE_SEQ = #{imageSeq}
			</when>
			<when test="imageId!=null and !imageId.equals('')"> 
			AND IMAGE_ID = #{imageId}
			</when> 
			<when test="imageName!=null and !imageName.equals('')"> 
			AND IMAGE_NAME = #{imageName}
			</when>
		</choose>
    </select>
	
</mapper>